<a href="https://colab.research.google.com/github/abhinav371/Python/blob/Module-2/mid_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#write a program to print prime numbers in given range by using function(25-50)
a=int(input('min : '))
b=int(input('max : '))
for n in range (a,b+1):
  if n>1:
   for i in range(2,n):
     if(n%i)==0:
       break
  else:
    print(n)

min : 25
max : 50

In [ ]:
#write a program to read any month number in integer and display days for that month
def month(a):
  if a==1 or a==3 or a==5 or a==7 or a==8 or a==10 or a==12:
    print('31 days')
  elif a==4 or a==6 or a==9 or a==11:
    print('30 days')
  else: 
    print('28 days')
b=int(input('month number : '))
month(b)

month number : 4
30 days

In [ ]:
#write a python program to print even length words in a string
a = input("enter : ")
a=a.split(' ')
for i in a:
  if len(i)%2==0:
    print(i)

enter : thank you very much
very
much

In [ ]:
#write a python program to capitalize the first and last letter of each word
a=str(input('enter : '))
b=a.split(' ')
for i in b:
  v=i.capitalize()
  e=i[-1].capitalize()
  z=v[0:-1]+e
  print(z,end=' ')

enter : thank you
ThanK YoU

In [ ]:
#write a program to read a string from user and display first character of each word with capital letter
a=input('enter : ')
a=a.split(' ')
for i in a:
  v=i.capitalize()
  print(v,end=' ')

enter : i am good boy
I Am Good Boy

In [ ]:
#write a python program to convert a list of multiple integers to single integer
a = ["69", "78", "-90"]
b = [eval(x) for x in a]
print(b)

[69, 78, -90]

In [ ]:
#write a python program to find power of a number
import math
a=int(input('num 1 : '))
b=int(input('num 2 : '))
c=math.pow(a,b)
print(c)

num 1 : 4
num 2 : 6
4096.0

In [ ]:
#write a program to sort tuples by total digits 
l=[(3,4,6,723),(1,2),(134,234,34)]
l.sort()
print(l)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [ ]:
#take 5 subjects marks from the user and display the grade of the student [if avg is 90-100--o  80-89--a+ 70-79--a 60-69--b+ 40-59--c >40--f]
a=int(input('subjects : '))
s=0
for i in range (1,a+1):
  b=int(input('enter marks : '))
  s=s+b
avg =s/a
print(avg)
if avg>=90:
  print('o grade')
elif avg>=80:
  print('a+ grade')
elif avg>=70:
  print('a grade')
elif avg>=60:
  print('b+ grade')
elif avg>=40:
  print('c grade')
else:
  print('fail')

subjects : 3
enter marks : 90
enter marks : 90
enter marks : 99
93.0
o grade

In [ ]:
#write a python program that prints 1 if all the three given number are in ascending order otherwise print 0
a=int(input("enter a :"))
b=int(input("enter b :"))
if a < b :
  for i in range (a,b+1):
    print(i,end = " ")
  if a > b :
    while a>=b :
      print(a, end = " ")
  a-=1

enter a :8
enter b :9
enter c : 10
8 9

In [ ]:
#check given number is perfect number or not
a=int(input('num : '))
s=0
for i in range(1,a):
  if(a%i==0):
    s=s+i
if (s==a):
  print('perfect number')
else:
  print('not a perfect number')

num : 6
perfect number

In [ ]:
#check given string is palindrome or not
s=input('word : ')
a=isPalindrome(s) 
if a:
    print('Yes')
else:
    print('No')

word : 121

NameError: ignored

In [ ]:
#find the gcd of two numbers 
import math
a=int(input('num 1 : '))
b=int(input('num 2 : '))
c=math.gcd(a,b)
print(c)

num 1 : 7
num 2 : 9
1

In [ ]:
#print sum of even digits in a given number
a=int(input("Enter a number "))
s=0
for i in range (a):
  r=a%10
if r%2==0 :
  s+=r
a=a//10
print(s)

Enter a number 124
4

In [ ]:
#calculate the sum of squares of digits of a number given by a user
a=int(input("Enter a number "))
s=0
for i in range (a):
  r=a%10
  r=r*r
  s+=r
a=a//10
print(s)

Enter a number 143
1287

In [ ]:
#given a string s,s='abcdefcba' how many times the ith character   
a=input("Enter a word ")
s=0
l=len(a)//2
for i in range(l):
  x=a[i]
  y=a[-(i+1)]
if x==y :
  s+=1
print(s)

Enter a word aba
1

In [ ]:
#given an integer n,return a list containing 1223334444... and finally n repeated n times      
n=int(input("enter your number :"))
a=[]
for i in range (n+1):
  for j in range (i):
    a.append(i)
print(a)

enter your number :5
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]

In [ ]:
#print no.of vowels and consonants in a given strings   
a=input("Enter a word ")
a=a.lower()
c,v=0,0
if a.isalpha() :
  for i in range (len(a)):
    if a[i]=="a" or a[i]=="e" or a[i]=="i" or a[i]=="o" or a[i]=="u" :
      v+=1
    else :
      c+=1
      print(f"vowels are {v} and consonants are {c}")

Enter a word gitam
vowels are 0 and consonants are 1
vowels are 1 and consonants are 2
vowels are 2 and consonants are 3

In [ ]:
#given 2 integers a and b if a is less than b then print all numbers in between ascending order else print in descending order
a= int(input("enter a :"))
b= int(input("enter b :"))
if a < b :
  for i in range (a,b+1):
    print(i,end = " ")
if a > b :
  while a>=b :
    print(a, end = " ")
    a-=1

enter a :3
enter b :4
3 4

In [ ]:
#program to print biggest value among 3 numbers
a=int(input('num 1 : '))
b=int(input('num 2 : '))
c=int(input('num 3 : '))
if a>b and a>c:
  print('a is greater')
elif b>a and b>c:
  print('b is greater')
else:
  print('c is greater')

num 1 : 6
num 2 : 7
num 3 : 5
b is greater

In [ ]:
#there is a walking track of 3km and round trip of 6km,take input from user no.of days,no.of roundtrips he completed per day,calculate the total distance he covered in metres,if distance is less than 40000 metres give a message as need to walk more,more than 40000 give a message as good job
d=int(input('no.of days : '))
r=int(input('round trips : '))
dist=r*6000
if dist>=40000:
  print('good job')
else:
  print('should walk more')

no.of days : 5
round trips : 8
good job

In [ ]:
#give a list of student names in l and a character display the name of students whose first letter is a given as put
n=input("Enter letter to be verified ")
n=n.lower()
r=[]
s=0
for i in range(int(input("Enter no. of students "))):
  a=input(f"Enter name of student no. {i+1} ")
  a=a.lower()
  p=a[0]
if n==p :
  s+=1
  r.append(a)
print(f"Total {s} students matched\nThey are {r}")

Enter letter to be verified a
Enter no. of students 3
Enter name of student no. 1 abhiram
Enter name of student no. 2 abhinav
Enter name of student no. 3 abd
Total 1 students matched
They are ['abd']

In [ ]:
#print a list of city names whose length is greater than given length
a=input('string : ')
k=int(input('value for accepting string : '))
n=[]
b=a.split(" ")
for d in b:
	if len(d) > k:
		n.append(d)
print(n)

string : goa,jammu
value for accepting string : 4
['goa,jammu']