<a href="https://colab.research.google.com/github/abhinav371/Python/blob/Module-2/Module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create a function which accepts two inputs from the user and compute nCr
import math
a=int(input('n : '))
b=int(input('r : '))
n=math.factorial(a)
m=math.factorial(b)
p=math.factorial(a-b)
d=n/(m*p)
print('ncr : ',d)

n : 4
r : 3
ncr :  4.0

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
a=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
a.pop(0)
a.pop(3)
a.pop(3)
print(a)

['Green', 'White', 'Black']

In [ ]:
#Program to get the difference between the two lists.
list1=['red','white','blue']
list2=['white','blue','yellow']
d=list(set(list1)-set(list2))
print()

In [ ]:
#Program to find the second smallest number and second largest number in a list.
l=[4,87,96,69,90,64,67]
l.sort()
print(l)
a=l[1] 
print('second smallest number : ',a)
b=l[-2]
print('second largest number : ',b)

[4, 64, 67, 69, 87, 90, 96]
second smallest number :  64
second largest number :  90

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.
a=[1,3,5,6,7]
b=[]
for i in range(len(a)):
  c=[]
  c.append(a[i])
  d=a[i]*a[i]
  c.append(d)
  e=tuple(c)
  b.append(c)
print(b)

[[1, 1], [3, 9], [5, 25], [6, 36], [7, 49]]

In [ ]:
#Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
#Sample Input: (n=5) :
#Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
n=int(input('num : '))
a={}
for i in range(1,n+1):
  k=i
  v=i*i
  a.update({k:v})
print(a)

num : 4
{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
#Program to remove a key from a dictionary
tdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x=tdict.keys()
print("Keys of this dictionary are : " , end= "")
print(x)
x=input("Enter key to be removed ")
tdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
tdict.pop(x)
tdict

Keys of this dictionary are : dict_keys(['brand', 'model', 'year'])
Enter key to be removed brand

{'model': 'Mustang', 'year': 1964}

In [ ]:
dic={}
n=int(input("Enter number of keys to e entered "))
for i in range (n) :
  k=input("enter key :")
  v=int(input("enter value :"))
  dic.update({k:v})
x= list(dic.values())
x.sort()
print(x[0],x[len(x)-1])

Enter number of keys to e entered 3
enter key :gh
enter value :4
enter key :g
enter value :7
enter key :u
enter value :3
3 7

In [ ]:
#Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations
a=input("Enter your string ")
x=a.split()
n=int(input("Enter your index number "))
y=a[n]
print(y)

Enter your string abhi
Enter your index number 2
h

In [ ]:
#Program for Counting occurrence of a certain element in a string
a=input("Enter your string ")
n=input("Enter element to be counted ")
f=a.count(n)
print(f"{n} is repeated {f} times")

Enter your string abhinav
Enter element to be counted a
a is repeated 2 times

In [ ]:
#Program for replacing one substring by another
a=input("Enter your string ")
n=input("Enter substring to be replaced ")
m=input("Enter replacing substring ")
x=a.replace(n,m)
print(f"replaced string is {x}")

Enter your string abhi
Enter substring to be replaced abhinav
Enter replacing substring abhinav
replaced string is abhi

In [ ]:
#Program to Acronym generator for any user input (ex-input is Random memory access then output should be RMA).Example - Random number (RN)
a=list(map(str, input().rstrip().split()))
d=[]
for i in range(len(a)) :
  b=a[i]
  c=b[0]
  c=c.upper()
  d.append(c)
for i in range (len(d)) :
  print(d[i] , end ="")

abhi
A

In [ ]:
#Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
a=list(map(str, input().rstrip().rsplit()))
for i in a :
  s=0
  l=len(i)
if i[0]==i[l-1] and l>2:
  s+=1
print(s)

fv
0

In [ ]:
#Recursive function to compute GCD of 2 numbers
def gcd(a,b) :
  k=a if (a<b) else b
while True:
  if(a%k==0 and b%k==0):
    break
  k-=1
  return k
a=int(input("Enter 1st number "))
b=int(input("Enter 2nd number "))
g=gcd(a,b)
print(g)

In [ ]:
#Recursive function to generate Fibonacci series
def fibb(n):
  if n<=1 :
    return 1
  else :
    return fibb(n-1)+fibb(n-2)
n=int(input("Enter no. of terms "))
print("Fibonacci series is -->")
for i in range (n) :
  print(fibb(i))

Enter no. of terms 2
Fibonacci series is -->
1
1

In [ ]:
#Recursive function to compute GCD of 2 numbers
def gcd(a,b) :
  k=a if (a<b) else b
  while True:
    if(a%k==0 and b%k==0):
      break
      k-=1
      return k
a=int(input("Enter 1st number "))
b=int(input("Enter 2nd number "))
g=gcd(a,b)
print(g)

Enter 1st number 1
Enter 2nd number 5
None