<a href="https://colab.research.google.com/github/abhinav371/Python/blob/Module-2/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a={'orange','banana','pineapple','orange'}
b={'kiwi','apple','blueberry'}
print(a)
print(type(a))
print(len(a))
print('a' in a)
a.add('apple')
print(a)
a.update(b)
print(a)
a.remove('orange')
print(a)
a.pop()
print(a)
a.clear()
print(a)

{'orange', 'banana', 'pineapple'}
<class 'set'>
3
False
{'orange', 'banana', 'apple', 'pineapple'}
{'apple', 'blueberry', 'pineapple', 'kiwi', 'orange', 'banana'}
{'apple', 'blueberry', 'pineapple', 'kiwi', 'banana'}
{'blueberry', 'pineapple', 'kiwi', 'banana'}
set()

In [ ]:
a={'orange','banana','pineapple','orange'}
for x in a:
 print(x)

orange
banana
pineapple

In [ ]:
set1={'lion','tiger','cat'}
set2={1,2,3,'lion'}
set3=set1.union(set2)
print(set3)
set1.update(set2)
print(set1)

{1, 2, 3, 'cat', 'lion', 'tiger'}
{1, 2, 3, 'cat', 'lion', 'tiger'}
{1, 2, 3, 'lion'}

In [ ]:
set1={'lion','tiger','cat'}
set2={1,2,3,'lion'}
set4=set1.intersection(set2)
print(set4)
set1.symmetric_difference_update(set2)
print(set1)

{'lion'}
{1, 2, 3, 'cat', 'tiger'}

In [ ]:
set1={'carrot','beetroot','potato','tomato'}
set1.add('onion')
print(set1)
set1.clear()
print(set1)
x=set1.copy()
print(x)

{'onion', 'beetroot', 'potato', 'carrot', 'tomato'}
set()
set()

In [ ]:
set1={'carrot','beetroot','potato','tomato'}
x=set1.copy()
print(x)
set1.discard('tomato')
print(set1)

{'potato', 'tomato', 'carrot', 'beetroot'}
{'potato', 'carrot', 'beetroot'}

In [ ]:
set1={'carrot','beetroot','potato','tomato'}
set2={'lion','tiger','cat','potato'}
x=set2.difference(set1)
print(x)
y=set2.isdisjoint(set1)
print(y)
z=set2.issubset(set1)
print(z)
a=set2.issuperset(set2)
print(a)

{'tiger', 'cat', 'lion'}
False
False
True